<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrderedTests" parallel="classes" thread-count="10">
    <test name="MyOrderedTests">
        <classes>
            <class name="ui_tests.tests.FirstTests"/>
            <class name="ui_tests.tests.SecondTest"/>
        </classes>
    </test>
</suite>
